@media screen and (max-width: 1350px) {
    .dashboard {
        width: 99%;
        margin: 10px auto;
        border-radius: 0.3vw;
        box-shadow: #d1c9c9 0 0 6px;

        .navbar {
            width: 20%;
            padding: 6px;
            font-size: 14px;
    
            &:before {
                border-right: .5px solid rgba(0, 0, 0, .1);
            }
    
            div {
                gap: 8px;
            }
    
            .show-list {
                margin-bottom: 8px;
            }
    
            a {
                padding: 6px;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
            }
        }
    
        .content {
            width: 80%;
            padding: 6px;
    
            .settings {
                .picture {
                    margin-bottom: 10px;
    
                    p {
                        font-size: 10px;
                    }
    
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
    
                .password {
                    gap: 8px;
                }
            }
    
            .add-show {
                .add-form {
                    gap: 8px;
                }
            }
    
            input, textarea, button[type="submit"] {
                width: 300px;
                padding: 8px 0;
                font-size: 12px;
            }
    
            button[type="submit"] {
                margin-top: 10px;
                font-size: 14px;
            }

            .alert {
                font-size: 13px;
            }

            .show-details {
                p {
                    font-size: 14px;
                }
            }

            .loader {
                width: 17px;
                height: 17px;
                border: 1.5px solid black;
                border-radius: 50%;
                border-right-color: transparent;
                border-bottom-color: transparent;
                transition: all 0.5s ease-in;
                animation: submit_spin 1s linear infinite;
            }
    
            @keyframes submit_spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .dashboard {
        display: grid;
        grid-template-rows: 39px calc(100% - 90px);
        //flex-direction: column;
        width: 100%;
        margin: 10px 0;
        border-radius: 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

        .navbar {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            padding: 0;
            font-size: 14px;
            border-bottom: 0.5px solid rgba(0, 0, 0, .2);
            overflow-x: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &:before {
                border: none;
            }
    
            div {
                flex-direction: row;
                width: max-content;
                gap: 0;
            }
    
            .show-list {
                flex-direction: row;
                margin-bottom: 0;
                overflow: visible;
            }
            
    
            a {
                width: max-content;
                padding: 12px;
                border-bottom: none;
                overflow: visible;
            }
        }
    
        .content {
            width: 100%;
            padding: 20px;
            margin-top: 10px;

            .settings {
                .picture {
                    p {
                        font-size: 10px;
                    }
    
                    img {
                        width: 90px;
                        height: 90px;
                    }
    
                    &:hover p {
                        opacity: 0;
                    }
                }
    
                .password {
                    gap: 10px;
                }
            }
    
            .add-show {
                margin-top: 12px;

                .add-form {
                    gap: 10px;
                }
            }
    
            input, textarea, button[type="submit"] {
                border-radius: 0;
                font-size: 14px;
            }

            button[type="submit"] {
                margin-top: 10px;
                font-size: 16px;
            }

            .alert {
                border-radius: 0.5vw;
            }

            .show-details {
                
                p {
                    border-radius: 0.5vw;
                    font-size: 12px;
                    word-break: break-all;
                }
            }
        }
    }
}