.intro-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 99%;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    
    .crop {
        position: absolute;
        width: 200%;
        height: 80px;
        background-color: #f5f5f5;
        align-self: flex-end;
        margin-right: 0;
        margin-left: -2px;
        transform: rotate(-2.5deg);
    }

    .intro {
        h1 {
            position: absolute;
            font-size: 37px;
            color: white;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 50px;
            margin-top: -60px;
            margin-left: 200px;
            border-radius: .2vw;
            font-family: arial;
            animation: intro_animation 1s;
            animation-fill-mode: forwards;
        }

        .demo {
            position: absolute;
            height: 600px;
            top: 90px;
            right: 200px;
            pointer-events: none;
            animation: demo_animation 0.8s;
            animation-fill-mode: forwards;
            z-index: 1;
        }
    }

    @keyframes intro_animation {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
    @keyframes demo_animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            top: 120px;
        }
    }
}

.features {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;

    .feature {
        display: flex;
        align-items: center;
        opacity: 0;
        justify-content: space-evenly;

        img:first-child {
            transform: translateX(-30%);
        }

        div:first-child {
            transform: translateX(-30%);
        }

        img:last-child {
            transform: translateX(30%);
        }

        div:last-child {
            transform: translateX(30%);
        }

        div {
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                font-size: 28px;
            }

            p {
                margin-top: 10px;
                font-size: 19px;
                line-height: 22px;
                text-align: justify;
            }

            h2, p {
                font-family: arial;
            }
        }
    }

    @keyframes feature_animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes first_child_animation {
        from { transform: translateX(-30%); }
        to { transform: translateX(0); }
    }   

    @keyframes last_child_animation {
        from { transform: translateX(30%); }
        to { transform: translateX(0); }     
    }
}

@media screen and (max-width: 1350px) {
    .intro-container {
        height: 450px;
    
        .intro {
            h1 {
                font-size: 28px;
                padding: 30px;
                margin-top: -100px;
                margin-left: 40px;
                border-radius: .3vw;
            }
    
            .demo {
                height: 400px;
                right: 100px;
            }
        }
    }
    
    .features {
        margin: 50px 20px;
    
        .feature {
            margin-bottom: 30px;

            img:nth-child(2) {
                width: 420px;
            }

            img:nth-child(1) {
                width: 300px;
            }
    
            div {
                h2 {
                    font-size: 24px;
                }
    
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    
        @keyframes first_child_animation {
            from { transform: translateX(-10%); }
            to { transform: translateX(0); }
        }   
    
        @keyframes last_child_animation {
            from { transform: translateX(10%); }
            to { transform: translateX(0); }     
        }
    }    
}

@media screen and (max-width: 800px) {
    .intro-container {
        width: 100%;
        height: 400px;
    
        .intro {
            h1 {
                font-size: 22px;
                padding: 25px;
                margin-top: -80px;
                margin-left: 15px;
                border-radius: .4vw;
            }
    
            .demo {
                height: 350px;
                top: 90px;
                right: 15px;
            }
        }

        @keyframes demo_animation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
                top: 100px;
            }
        }
    }
    
    .features {
        margin: 20px;
    
        .feature {
            margin-bottom: 30px;

            img:nth-child(2) {
                width: 300px;
            }

            img:nth-child(1) {
                width: 250px;
            }
    
            div {
                h2 {
                    font-size: 17px;
                }
    
                p {
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    
        @keyframes first_child_animation {
            from { transform: translateX(-10%); }
            to { transform: translateX(0); }
        }   
    
        @keyframes last_child_animation {
            from { transform: translateX(10%); }
            to { transform: translateX(0); }     
        }
    } 
}

@media screen and (max-width: 590px) {

}

@media screen and (max-width: 530px) {
    .intro-container {
        width: 100%;
        height: 450px;

        .crop {
            width: 200%;
            height: 75px;
            transform: rotate(-4deg);
        }

        .intro {
            h1 {
                font-size: 20px;
                padding: 18px;
                margin-top: -190px;
                margin-left: 15px;
                border-radius: .7vw;
            }
    
            .demo {
                height: 300px;
                top: 170px;
                right: 10px;
            }
        }
        
        @keyframes demo_animation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
                top: 200px;
            }
        }
    }
}

@media screen and (max-width: 310px) {
    .intro-container {
        .intro {
            h1 {
                font-size: 17px;
                padding: 15px;
                margin-left: 10px;
            }
        }
    }
}