.menu {
    display: flex;
    align-items: center;
    background-color: white;
    width: 99%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: #d1c9c9 0 0 12px;
    font-family: 'Times New Roman', Times, serif;

    .logo {
        width: 100px;
    }

    .items {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 19px;
        
        a {
            color: black;
            padding-bottom: 5px;
            margin: 0 20px;

            &:hover {
                box-shadow: inset 0px -2px rgb(20, 183, 189);
            }
        }

        .active {
            box-shadow: inset 0px -2px rgb(20, 183, 189);
        }
    }

    .hamberger-btn {
        font-size: 28px;
        padding: 6px 6px 6px 20px;
        margin-left: auto;
        cursor: default;
        display: none;
    }

    .items-rwd {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        padding: 8px;
    
        .logo {
            width: 80px;
        }
    
        .items {
            font-size: 15px;

            a {
                &:hover {
                    box-shadow: inset 0px -1px rgb(20, 183, 189);
                }
            }
    
            .active {
                box-shadow: inset 0px -1px rgb(20, 183, 189);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .menu {
        width: 100%;
        padding: 8px;
        margin-top: 10px;
        box-shadow: #d1c9c9 0 0 12px;
        font-family: "Lato", sans-serif;
        z-index: 2;
    
        .logo {
            width: 75px;
        }

        .items {
            display: none;
        }

        .hamberger-btn, .items-rwd {
            display: block;
        }

        .items-rwd {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.85);
            overflow-x: hidden;
            transition: 0.4s;
            padding-top: 60px;

            a {
                text-align: center;
                text-decoration: none;
                padding: 10px 0;
                font-size: 22px;
                color: #818181;
                display: block;
                transition: 0.3s;
                cursor: default;
                white-space: nowrap;
                overflow: hidden;
            }

            .closebtn {
                position: absolute;
                top: 0;
                font-size: 40px;
                padding: 10px 22px;
                cursor: default;
                color: #818181;
            }

            .active {
                color: white;
            }
        }
    }
}
