@media screen and (max-width: 1350px) {
    .show-container {
        grid-template-columns: 260px 1px 1fr;
        grid-template-rows: 70px 1fr;
        width: 99%;
        margin: 10px auto;
        border-radius: 0.3vw;
    
        .line {
            width: 1px;
            height: 75%;
        }
    
        .host-container {
            h1 {
                font-size: 16px;
                margin-left: 5px;
    
                span {
                    font-size: 12px;
                }
            }
    
            img {
                height: 45%;
                margin-left: 10px;
            }
    
            .views {
                font-size: 12px;
                top: 21px;
                right: 8px;
            }
        }
    
        .product-container {
            margin-left: 10px;
    
            .name {
                font-size: 14px;
                
                img {
                    margin-right: 4px;
                    width: 26px;
                    height: 26px;
                }
            }
    
            .description {
                margin-top: 4px;
                font-size: 12px;
            }
    
            .price {
                height: 35px;
                width: 65px;
                margin-right: 10px;
                border-radius: 0.3vw;
                font-size: 12px;
            }
        }
    
        .video-container {
            .mute {
                bottom: 4px;
                right: 4px;
                padding: 6px;
                font-size: 10px;
            }
        }
    
        .comments-container {
            margin: 10px;
    
            .comments {
                height: calc(100% - 40px);
    
                // Chrome scrollbar
                &::-webkit-scrollbar {
                    width: 0.4em;
                }
    
                .comment {
                    width: calc(100% - 4px);
                    margin: 6px 2px;
    
                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 4px;
                    }
    
                    div {
                        .name {
                            font-size: 12px;
                        }
        
                        .text {
                            margin-top: 2px;
                            font-size: 10px;
                            padding: 6px;
                            border-radius: 0.3vw;
                        }
                    }
                }
            }
    
            .add {
                input {
                    width: 100%;
                    font-size: 14px;
    
                    &::placeholder{
                        font-size: 14px;
                    }
                }
    
                .send {
                    padding: 8px;
                    font-size: 14px;
                    border-radius: .3vw;
                }
            }
        }
    }
}