@media screen and (max-width: 1350px) {
    .show-container {
        grid-template-columns: 260px 1px 1fr;
        grid-template-rows: 70px 1fr;
        width: 99%;
        margin: 10px auto;
        border-radius: 0.3vw;
    
        .host-container {
            h1 {
                font-size: 16px;
                margin-left: 5px;
    
                span {
                    font-size: 12px;
                }
            }
    
            img {
                height: 45%;
                margin-left: 10px;
            }
    
            .views {
                font-size: 12px;
                top: 21px;
                right: 8px;
            }
        }
    
        .product-container {
            margin-left: 10px;
    
            .name {
                font-size: 14px;
                
                img {
                    margin-right: 4px;
                    width: 26px;
                    height: 26px;
                }
            }
    
            .description {
                margin-top: 4px;
                font-size: 12px;
            }
    
            .price {
                height: 35px;
                width: 65px;
                margin-right: 10px;
                margin-left: 1px;
                border-radius: 0.3vw;
                font-size: 12px;
            }
        }
    
        .video-container {
            .mute {
                bottom: 4px;
                right: 4px;
                padding: 6px;
                font-size: 10px;
            }
        }
    
        .comments-container {
            margin: 10px;
    
            .comments {
                height: calc(100% - 40px);
    
                // Chrome scrollbar
                &::-webkit-scrollbar {
                    width: 0.4em;
                }
    
                .comment {
                    width: calc(100% - 4px);
                    margin: 6px 2px;
    
                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 4px;
                    }
    
                    div {
                        .name {
                            font-size: 12px;
                        }
        
                        .text {
                            margin-top: 2px;
                            font-size: 10px;
                            padding: 6px;
                            border-radius: 0.3vw;
                        }
                    }
                }
            }
    
            .add {
                input {
                    width: 100%;
                    font-size: 14px;
    
                    &::placeholder{
                        font-size: 14px;
                    }
                }
    
                .send {
                    padding: 8px;
                    font-size: 14px;
                    border-radius: .3vw;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .show-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        border-radius: 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    
        .line {
            width: 95%;
            height: 1px;
            margin: 10px auto;
            background-color: rgba(0, 0, 0, 0.2);
        }
    
        .host-container {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            h1 {
                font-size: 15px;
                margin-left: 8px;
                margin-top: 8px;
    
                span {
                    font-size: 11px;
                }
            }
    
            img {
                height: 45px;
                margin-top: 8px;
                margin-left: 8px;
            }
    
            .views {
                position: absolute;
                font-size: 13px;
                top: 12px;
                right: 8px;
            }
        }
    
        .product-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 10px;
    
            .name {
                display: flex;
                align-items: center;
                font-size: 13px;
                
                img {
                    margin-right: 4px;
                    width: 28px;
                    height: 28px;
                }
            }
    
            .description {
                margin-top: 4px;
                font-size: 12px;
            }
    
            .price {
                height: 35px;
                width: 90px;
                margin-right: 10px;
                border-radius: 0.8vw;
    
                &:hover {
                    background-color: rgb(121, 69, 163);
                    color: white;
                    border: none;
                }
    
                &:after {
                    content: "299$";
                }
    
                &:hover:after {
                    content: "299$";
                }
            }
        }
    
        .video-container {
            margin-top: 10px;
    
            .mute {
                padding: 7px;
                font-size: 12px;
            }
    
            video {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        .comments-container {
            position: static;
            margin: 0;
    
            .comments {
                position: absolute;
                display: flex;
                display: none;
                flex-direction: column;
                width: 100%;
                top: 0;
                height: calc(100% - 40px);
                overflow-y: auto;
    
                // Firefox scrollbar
                scrollbar-color: rgba(0, 0, 0, 0.5);
    
                // Chrome scrollbar
                &::-webkit-scrollbar {
                    width: 0.4em;
                    border-radius: 0.2vw;
                }
                
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 0.2vw;
                }
    
                .comment {
                    display: flex;
                    align-items: flex-start;
                    width: calc(100% - 4px);
                    margin: 6px 2px;
    
                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 4px;
                    }
    
                    div {
                        .name {
                            font-size: 12px;
                            font-weight: bold;
                        }
        
                        .text {
                            margin-top: 2px;
                            font-size: 10px;
                            padding: 6px;
                            border-radius: 0.3vw;
                            line-height: 1.3em;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
    
            .add {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                bottom: 0;
    
                input {
                    border: none;
                    height: 30px;
                    width: 100%;
                    font-size: 14px;
    
                    &::placeholder{
                        font-size: 14px;
                    }
                }
    
                .send {
                    padding: 8px;
                    font-size: 14px;
                    transition: .2s;
                    border-radius: .3vw;
    
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}