.shows {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 100%;
    margin: 0 auto;
    transition: 0.2s;
    font-family: arial;

    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 35px;
        border-bottom: 2px solid #00000077;

        .sort {
            display: flex;

            & > * {
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                padding: 5px 8px; 
                font-size: 16px;
                transition: 0.2s;
                border-top-left-radius: 0.2vw;
                border-top-right-radius: 0.2vw;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    background: #00000020;
                }
            }

            .active {
                opacity: 1;
                background: #00000020;
            }
        }

        .search {
            input {
                font-size: 18px;
            }

            button {
                cursor: pointer;
                padding: 3px 8px;  
                margin-right: 3px;
                font-size: 17px;
                transition: 0.2s;
                border-top-left-radius: 0.2vw;
                border-top-right-radius: 0.2vw;
                opacity: 0.5;

                &:hover {
                    opacity: 0.9;
                    background: #00000020;
                }
            }

            input, button {
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    }

    .disable {
        cursor: progress;
        opacity: 0.5;
    }

    .list {
        flex: 1;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-template-rows: min-content;
        grid-row-gap: 10px !important;
        grid-column-gap: 10px !important;
        margin: 15px 10px 10px;

        .show {
            position: relative;
            height: 170px;
            width: 170px;
            cursor: pointer;
            transition: .3s;
            border-radius: .25vw;
            background: transparent;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 1);
            }

            .thumbnail {
                width: 100%;
                height: 100%;
                border-radius: .25vw;
            }

            .details {
                position: absolute;
                height: 45%;
                width: 100%;
                bottom: 0;
                color: white;
                background-color: #00000099;
                border-bottom-left-radius: .25vw;
                border-bottom-right-radius: .25vw;

                .title {
                    position: absolute;
                    font-size: 18px;
                    font-family: arial;
                    bottom: 0;
                    margin-bottom: 8px;
                    margin-left: 4px;
                }

                .views {
                    position: absolute;
                    right: 0;
                    font-size: 16px;
                    margin-top: 8px;
                    margin-right: 4px;
                }
            }
        }
    }
}

// ---------------------------- Slider --------------------------------
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16.5px;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .2s;
}

input:checked+.slider {
    background-color: #00000099;
}

input:checked+.slider:before {
    transform: translateX(17.5px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1100px) {
    .shows {
        .topbar {
            margin-top: 20px;
            border-bottom: 1px solid #00000077;
    
            .sort {
                & > * {
                    padding: 3px 6px; 
                    font-size: 13px;
                }
            }
    
            .search {
                input {
                    font-size: 13px;
                }
    
                button {
                    padding: 3px 6px;  
                    margin-right: 3px;
                    font-size: 13px;
                }
            }
        }
    
        .list {
            grid-gap: 0;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    
            .show {
                height: 140px;
                width: 140px;
                transition: .3s;
                border-radius: .3vw;
    
                &:hover {
                    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
                }

                .details {
                    border-bottom-left-radius: .3vw;
                    border-bottom-right-radius: .3vw;
    
                    .title {
                        font-size: 14px;
                        margin-bottom: 6px;
                        margin-left: 4px;
                    }
    
                    .views {
                        font-size: 14px;
                        margin-top: 4px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    
    .switch {
        width: 27px;
        height: 12px;
        margin-left: 2px;
    }
    
    .slider:before {
        height: 9px;
        width: 9px;
        left: 2px;
        bottom: 1.7px;
    }
    
    input:checked+.slider:before {
        transform: translateX(14px);
    }
}

@media screen and (max-width: 800px) {
    .shows {
        width: 100%;

        .topbar {
            flex-direction: column-reverse;
            align-items: flex-start;
            border-bottom: 1px solid #00000077;
    
            .sort {
                & > * {
                    padding: 6px 6px; 
                    font-size: 13px;
                    border-top-left-radius: .7vw;
                    border-top-right-radius: .7vw;
                }
            }
    
            .search {
                width: 100%;
                margin-bottom: 20px;
                border-bottom: 1px solid #00000077;

                input {
                    font-size: 16px;
                }
    
                button {
                    padding: 3px 6px;  
                    margin-right: 3px;
                    font-size: 16px;
                    border-top-left-radius: .7vw;
                    border-top-right-radius: .7vw;
                }
            }
        }
    
        .list {
            align-items: flex-start;
            justify-content: space-evenly;
            grid-template-columns: repeat(auto-fit, 100px);
            grid-template-rows: repeat(auto-fit, 100px);
    
            .show {
                height: 100px;
                width: 100px;
                border-radius: .7vw;
    
                .thumbnail {
                    border-radius: .7vw;
                }
    
                .details {
                    border-bottom-left-radius: .7vw;
                    border-bottom-right-radius: .7vw;
    
                    .title {
                        font-size: 13px;
                    }
    
                    .views {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}